
@font-face {
    font-family: "Karla", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}