
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');

.karla-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: karla-font !important;
    src: url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
}

body {
    font-family: karla-font !important;
}