@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal
}