@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.karla-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: karla-font !important;
    src: url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap);
}

body {
    font-family: karla-font !important;
}